<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Taste the World: {{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />
    <script src="../../public/js/main.js"></script>
</head>
<header>
    <div id="top-bar">
        <div id="left">
        <img id="logo" src="../../public/icons/Taste the World.png">
        <div id="title">
            <h1>Taste the World</h1>
            <p id="subtitle">Allergy-Friendly Cultural Recipes</p>
        </div>
        </div>
        <form id="searchForm" onsubmit="return search();">
            <input type="text" id="searchInput" placeholder="Search for recipes.." />
            <button type="submit">Search</button>
        </form>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse Recipes</a></li>
            <li><a href="/create">Create a Recipe</a></li>
        </ul>
    </nav>
</header>

<body>
    {{{body}}}
</body>

</html>
