<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Taste the World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <header>
    <div id="top-bar">
        <div id="title">
            <h1>Taste the World</h1>
            <p>Allergy-Friendly Cultural Recipes</p>
        </div>
        <input type="text" placeholder="Search..">
    </div>
  </header>
  <body>
    {{{body}}}
  </body>
</html>