<main>
    <div id="sidebar">
        <h2>Browse by Cuisine</h2>
        <div id="cuisines">
            <ul id="cuisineList">
                {{#each cuisines}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div id="allergens">
            <h2>Browse by Allergen</h2>
            <ul id="allergenList">
                {{#each allergens}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div id="recipes">
        <h2>Browse All Recipes</h2>
        <div class="recipeBook">
        {{#each recipes}}
            <div class="recipeCard">
                <img src="{{this.image_url}}">
                <h3>{{this.recipeName}}</h3>
            </div>
            {{/each}}
        </div>
    </div>
</main>
