<body>
  <div>
    <div>
      <p>We are Taste the World! <br /> We make dietary-restrictive friendly recipes accessible</p>
      <button onclick="window.location.href='/browse'">Click to browse recipes</button>
    </div>
  </div>
</body>