<body>
    <div class="carousel">
        <div class="carousel-images">
            <div class="carousel-image" style="background-image: url(https://www.eatingwithfoodallergies.com/wp-content/uploads/2020/08/Veal-marsala-1.png);"></div>
            <div class="carousel-image" style="background-image: url(https://i0.wp.com/www.astigvegan.com/wp-content/uploads/2015/06/champorado-with-table-setting1.jpg?w=1456&ssl=1);"></div>
            <div class="carousel-image" style="background-image: url(https://s23209.pcdn.co/wp-content/uploads/2019/04/240124_DD_korean-beef-bulgogi_274.jpg);"></div>
        </div>
    </div>
    <div class="content">
        <p>We are Taste the World!</p>
         <p> We make dietary-restrictive friendly recipes accessible to those who wish to diversify their palettes. Our mission is to promote diversity and inclusivity of all cultures and dietary habits.</p>
        <button onclick="window.location.href='/browse'">Click to browse recipes</button>
    </div>
    <link rel="stylesheet" type="text/css" href="../../public/css/home.css" />
    <script src="../public/js/home.js"></script>
</body>